.pending {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #d28e09;
}

.completed {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #44ab74;
}

.rejected {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #dd0000;
}
